@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Montserrat:wght@600;700&family=Sometype+Mono:wght@700&display=swap');

:root{
    --prc: #010101;
    --acc: #1DB954;
    --ccc: #FFFFFF;
    --bc1: #B2F6CA;

    --lp-font: 'Courier Prime', monospace;
    --rp-font: 'Montserrat', sans-serif;
    --t-font: 'Sometype Mono', monospace;
}

body{
    margin: 0px;
}
svg{
    rotate: 274deg;
    position: absolute;
    height: 100%;
}

p{
    margin: 0px;
}

.vp-container{
    width: 100vw;
    height: 100vh;
    overflow: visible;
}

.section{
    width: 100%;
    height: 100%;
}

.page{
    width: 100%;
    height: 100%;
    background-color: var(--prc);
}