@import "general.css";

.loading{
    padding: 10% 0%;
    background: 
                radial-gradient(circle at bottom, var(--gcol1), transparent 70%),
                radial-gradient(ellipse at top left, var(--gcol2), transparent),
                radial-gradient(ellipse at top right, var(--gcol3), transparent);
}

.loading-icon{
    padding:  0% 37.5%;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.loading-text{
    width: 100%;
    height: 60%;
    padding: 5% 10% 10% 10%;
    box-sizing: border-box;
    font-family: var(--p-font);
    font-weight: bold;
    color: var(--pcol);
}

.loading-text p{
    box-sizing: border-box;
    width: 100%;
    padding: 2.5% 0%;
}