@import url('general.css');

.main{
    width: 100%;
    height: 100%;
    background-color: var(--prc);
}

.heading-container{
    width: 100%;
    height: 15%;
    display: grid;
    place-items: center;
}
.title{
    font-family: var(--t-font);
    margin: 0px;
    color: var(--ccc);
    font-size: 4rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main-primary{
    /* background: url("/images/repeatPattern.png") ; */
    background-color: var(--prc);
    position: relative;
    width: 100%;
    height: 100%;
}
.interact-container{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.tagline-container{
    width: 100%;
    height: 33%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.tagline-box{
    width: 100%;
    height: 85%;
    /* background-color: #BBE2D6; */
    border-radius: 10px;
    display: flex;
    align-items: end;
    padding: 0% 10%;
    box-sizing: border-box;
    overflow: hidden;
}
.tagline{
    font-family: var(--p-font);
    font-weight: 500;
    color: var(--ccc);
    letter-spacing: .1em;
    text-align: center;
}
.button-container{
    height: 33%;
    display: grid;
    place-items: center;
}
.click{
    border: none;
    border-radius: 10px;
    background-color: var(--acc);
    font-family: 'montserrat';
    font-weight: bold;
    color: var(--ccc);
    padding: 20px 35px;
    box-shadow: 0px 0px 5px var(--acc);
}

/* animation utility classes and presets */

.tagline-fadeout{
    animation: LeftFadeout 0.5s ease-in 0s 1 normal forwards;
}
.button-click{
    animation: ButtonDown 0.5s ease-in-out 0s 1 normal forwards;
}

@keyframes LeftFadeout {
    0%{
        translate: 0%;
    }
    100%{
        translate: -100%;
    }
}

@keyframes ButtonDown {
    from{
        border: none;
        width: 68px;
        height: 16px;
        border-radius: 5px;
        background-color: var(--acc);
        padding: 28px 69px;
        box-shadow: 5px 5px var(--acc);
    }
    to{
        border: none;
        border-radius: 40px;
        background-color: var(--ccc);
        padding: 40px 40px;
        box-shadow: 0px 0px 10px 0px var(--prc);
    }
}