video{
    object-fit: cover;
}
canvas{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1; /* Set a higher z-index to overlay the video */
}
.face-container{
	width: 94.5%;
	height: 100%;
	display: flex;
	justify-content: center;
}
.face-show{
    position: relative;
	width: 90%;
	height: 100%;
	overflow: hidden;
}